# intellij
.idea

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
nebula-sync

# Test binary, built with `go test -c`
*.test
.env

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum
